@font-face {
  font-family: 'co_text_corpregular';
  src: url('fonts/cotext_corp_rg-webfont.eot');
  src: url('fonts/cotext_corp_rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/cotext_corp_rg-webfont.woff') format('woff'),
    url('fonts/cotext_corp_rg-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}